.complete{
    background-color:#cfdedf;
   min-height: 100vh;
   font-family: "Hachi Maru Pop";
   display: flex;  
   flex-direction: column;
   justify-content: top;
  }
  
  .complete h1{
    font-size: 35px; 
    margin-left: -20px;   
    margin-top: 15px;
    color: #6e6457;
    font-weight: bolder;
    margin-bottom: 15px;
  }