.box {
  display: flex;
  border-radius: 0.42vw;
  margin-top: 1.39vw;
  margin-left: 2.2vw;
  border: none;
}

.select {
  width: 5.7vw;
  height: 3.13vw;
  background: #cfdedf;
  border-radius: 0.42vw;
  border: none;
  padding-top: 0.35vw;
}

.menuitem {
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categories {
  color: #6e6457;
}
.categories svg {
  font-size: 2.08vw;
}