.app{
    background-color: white;
    height: 100vh;
    color:#354275;  
    font-family: "Hachi Maru Pop";
}

.title{
    font-size: 20px;
    width: 500px;
    font-family: "Hachi Maru Pop", cursive;
    border: none;
    background:#ded9c7;
    color: #645f37;
    border-radius: 6px;
    margin-top: 20px;
    height: 40px;
    margin-left: 5px;
    padding-left: 10px; 
    padding-bottom: 5px;
    height: 40px;
}

.from{
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 20px;
    font-family: "Hachi Maru Pop", cursive;
    width: 120px;
    border: none;
    background:#ded9c7;
    color: #645f37;
    margin-left: 5px;
    margin-top: 20px;
    height: 40px;
    border-radius: 6px;
}

.button{
    padding-bottom: 5px;
    margin-top: 20px;
    height: 46px;
    width: 46px;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Hachi Maru Pop", cursive;
    background:#6a8b6a;
    border: none;
    border-radius: 6px;
    margin-left: 5px;
    color: white;
    cursor: pointer;
    transition: 0s ease;
    border: 2px solid #6a8b6a;
    transition: 0.3s ease;
}

.button:hover{
    background: transparent;
    color: #6a8b6a;
    border: 2px solid #6a8b6a;
}

.title::placeholder,
.from::placeholder {
    
    color: #645f37;
    opacity: 0.6;       
}

.title:focus,
.from:focus
{
    outline: 2px solid #645f37;
}